<!DOCTYPE html>
<html>
<head>
  <title>Contact | Rhombix Technologies</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Contact Us</h1>
  <p>Email: contact@rhombixtechnologies.com</p>
  <a href="/">Home</a> | <a href="/about">About</a>
</body>
</html>

